@media screen and (min-width:750px) {
    .main-header-container{
    box-shadow: 0 8px 8px #d2d2d0;
    position: relative;
    z-index: 1000;
    .main-header-nav{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        padding: 23px 12px;
        justify-content: space-between;
        align-items: center;

        .web-logo{
            font-weight: 700;
            display: flex;
            column-gap: 4px;
            cursor: pointer;
            .black-web-logo{
                font-size: 22px;
            }
            .orng-web-logo{
                font-size: 23px;
            }
        }

        .search-icon-input-container{
            display: flex;
            padding: 4px 10px;
            border-radius: 15px;
            align-items:center ;
            column-gap: .5rem;
            outline: 2px solid;
            cursor: pointer;
            margin-left: auto;
            margin-right: 1rem;

            .user-search-input{
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 15.5px;
                border-bottom: 1px solid;
            }

            .open-search{
                max-width: 150px;
            }

            .close-search{
                width: 10px;
            }

            .search-icon{
                font-size: 15.5px;
                font-weight: 700;
                
            }
        }

        .header-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 1rem;

            .categories-content-links{
                display: flex;
                column-gap: 1rem;
                font-size: 16px;
                font-weight: 600;

                div{
                    cursor: pointer;
                }
            }

            .header-menu-containner{
                display: flex;
                column-gap: 1rem;
                align-items: center;

                .user-icon-container{
                    padding: 5px;
                    display: flex;
                    border-radius: 40px;
                    font-size: 15.5px;
                    cursor: pointer;
                }

                .cart-icon-container{
                    background-color: #ebecf2;
                    padding: 5px;
                    display: flex;
                    border-radius: 40px;
                    font-size: 15.5px;
                    cursor: pointer;
                }

                .menu-icon-container{
                    display: none;
                    visibility: hidden;
                }
            }
        }

        .sidebar-content{

            display: none;
        }
    }
}
} 

@media screen and (max-width:750px) {
    .main-header-container{
        box-shadow: 0 8px 8px #d2d2d0;
        position: relative;
    z-index: 1000;
        .main-header-nav{
            display: grid;
            position: relative;
            max-width: 1000px;
            margin: 0 auto;
            padding: 16px 12px;
            align-items: center;
            row-gap: .5rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 'WebLogo ProfileAndCart'
                                'SearchInput SearchInput';
    
            .web-logo{
                display: flex;
                font-weight: 700;
                column-gap: 4px;
                cursor: pointer;
                grid-area: WebLogo;
                .black-web-logo{
                    font-size: 20px;
                }
                .orng-web-logo{
                    font-size: 21px;
                }
            }

            .search-icon-input-container{
                cursor: pointer;
                grid-area: SearchInput;
                display: flex;

                .user-search-input{
                    background-color: transparent;
                    outline: none;
                    border-radius: 10px 0 0 10px;
                    padding: 5px;
                    font-size: 15.5px;
                    border: 2px solid;
                    display: flex;
                    min-width: 10px;
                    flex: 1;
                }

                .search-icon{
                    font-size: 17px;
                    font-weight: 700;
                    border-right: 2px solid;
                    border-top: 2px solid;
                    border-bottom: 2px solid;
                    padding: 7px;
                    border-radius: 0 10px 10px 0;
                }
            }
    
            .header-content{
                column-gap: 1rem;
                display: grid;
    
                .categories-content-links{
                    display: none;
                }
                .header-menu-containner{
                    display: flex;
                    column-gap: 1rem;
                    justify-content: flex-end;
                    align-items: center;
                    grid-area: ProfileAndCart;
    
                    .user-icon-container{
                        display: none;
                    }
    
                    .cart-icon-container{
                        display: none;
                    }
    
                    .menu-icon-container{
                        display: flex;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }


            .sidebar-content{
                position: absolute;
                top: 50px;
                display: flex;
                flex-direction: column;
                right: 12px;
                z-index: 500;
                background-color: white;
                border: 1px solid gray;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                div{
                    padding: 12px 30px 12px 12px;
                    display: flex;
                    column-gap: .8rem;
                    font-size: 17px;
                    font-weight: 600;
                    align-items: center;
                    justify-content: space-between;

                    &:hover{
                        background-color: #d2d2d0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:340px) {
    .main-header-container{
        box-shadow: 0 8px 8px #d2d2d0;
        position: relative;
    z-index: 1000;
        .main-header-nav{
            display: grid;
            max-width: 1000px;
            margin: 0 auto;
            padding: 15px 12px;
            align-items: center;
            row-gap: .4rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 'WebLogo ProfileAndCart'
                                'SearchInput SearchInput';
    
            .web-logo{
                display: flex;
                font-weight: 700;
                column-gap: 4px;
                cursor: pointer;
                flex-direction: column;
                grid-area: WebLogo;
                .black-web-logo{
                    font-size: 17px;
                }
                .orng-web-logo{
                    font-size: 18px;
                }
            }

            .search-icon-input-container{
                cursor: pointer;
                grid-area: SearchInput;
                display: flex;

                .user-search-input{
                    background-color: transparent;
                    outline: none;
                    border-radius: 10px 0 0 10px;
                    padding: 5px;
                    font-size: 15.5px;
                    border: 2px solid;
                    display: flex;
                    min-width: 10px;
                    flex: 1;
                }

                .search-icon{
                    font-size: 17px;
                    font-weight: 700;
                    border-right: 2px solid;
                    border-top: 2px solid;
                    border-bottom: 2px solid;
                    padding: 7px;
                    border-radius: 0 10px 10px 0;
                }
            }
    
            .header-content{
                column-gap: 1rem;
                display: grid;
    
                .categories-content-links{
                    display: none;
                }
                .header-menu-containner{
                    display: flex;
                    column-gap: 1rem;
                    align-items: center;
                    grid-area: ProfileAndCart;
    
                    .user-icon-container{
                        display: none;
                    }
    
                    .cart-icon-container{
                        display: none;
                    }
    
                    .menu-icon-container{
                        display: flex;
                    }
                }
            }
        }
    }
}